<!DOCTYPE html>
<html>
  <head>
    <title>GithubApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'issues', defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if flash[:alert] %>
      <p class="error"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
